/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {

}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/
/*rtl:ignore*/
.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  //background-image: url(images/bg.jpg);
  //background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  background: #ff4800; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff4800 0%, #ff3000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4800), color-stop(100%,#ff3000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff4800 0%,#ff3000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff4800 0%,#ff3000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff4800 0%,#ff3000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff4800 0%,#ff3000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4800', endColorstr='#ff3000',GradientType=0 ); /* IE6-9 */
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 200px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Mios
*******************************/

i.link.icon {
  cursor: pointer;
  opacity: 0.6;
  /*-webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;*/
}
i.link.icon.heart {
  color: #F40000 !important;
}
i.link.icon.html5 {
  color: #F16529 !important;
}
i.link.icon.add.sign {
  color: #40981B !important;
}
i.link.icon.chat {
  color: #1C82A8 !important;
}
.ui.basic.buttons .button {
  color: #C4C4C4 !important;
  border-color: #7F7F7F !important;
}
.ui.basic.buttons {
  border: 1px solid #7F7F7F !important;
}

.works {
  background-color: #DDDDDD !important;
  padding-top: 3em;
  border-top: 1px solid #AEAEAE;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }
  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    background-size: auto;
  }

  .masthead.segment .information {
    //margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }
  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}